{{#if timer}}
  {{#link-to 'task' timer.client timer.task}}{{timer.task.client.name}} - {{timer.task.name}} - {{task-info task=timer.task}}{{/link-to}} {{#if timer.running}}<a href="#" {{action 'stop'}}>stop</a>{{/if}}
{{/if}}
