{{new-timer tagName='li' timer=newTimer}}
{{#if timers.isLoading}}
  <li>loading timers...</li>
{{else}}
  {{#each timers}}
    {{timer-list-item tagName='li' timer=this timers=timers}}
  {{else}}
    <li>no timers</li>
  {{/each}}
{{/if}}
