/* Put your CSS here */
body {
    margin: 40px;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 300;
}

@media screen {
  .invoice-container {
    -webkit-transform: scale(0.8) translateX(-15%) translateY(-10%);
    margin: 20px;
    width: 816px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.5);
    min-height: 1056px;
  }
}
